
.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header-container {
  background-color: white;
  border-radius: 10%;
  max-width: 400px;
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
}

#header {
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#devel {
  color: #0d0d0e;
}

#plus {
  color: #17aa2b;
}

#up {
  color: #25b138;
}

#webdev-header {
  font-weight: bolder;
  color:  #25b138;
}

#subheader {
  font-style: italic;
}

#city-label, #numevents-label {
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 2px solid #070707;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 43px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  padding-top: 1px;
  padding-left: 20px;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 15px;
  position: relative;
  background-color: #cafacd;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.event:hover {
  border: 2px solid #141414;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  margin: 5px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: #fafafa;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.numberOfEvents {
  width: 200px;
  margin: 20px auto;
  text-align: center;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  position: fixed;
  top: 20px;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}

/* handles background animation */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles for background*/
body {
  background-image: linear-gradient(to right, #fcf3e0,#fae0a9,#f7cb6d, #f7dea9, #fcf3e0);
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}